@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
}

/* *{
  outline: 1px dotted black;
} */
.photo_container {
  width: 400px;
  background: white;
  border: 1px solid #ccc;
}

.photo_container .photo_header {
  display: flex;
}

/*photo user es hijo de photo container es mejor tomar el primero por el ultimo*/
.photo_container .photo_user {
  padding: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  /*outline: 1px solid;* esto sirve para saber donde esta la imagen*/
}

.photo_container .photo_image img {
  width: 100%;
  display: block;
}

.photo_container .photo_icons {
  font-size: 1.5rem;
  padding: 10px;
  padding-bottom: 0;
}

.photo_container .photo_likes {
  margin: 0;
  padding: 0 10px 10px 10px;
}

[class*='icon'] {
  padding: 5px;
  /*ese 2 divide los px que contiene el gutter*/
}

.photo_container .photo_comments {
  padding: 10px;
  padding-top: 0;
  font-size: 0.85rem;
}

.photo_container .photo_comment {
  margin: 10px 0;
}

.photo_add_comment {
  padding: 10px;
  margin: 0 10px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.photo_add_comment input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
}
